body {
	background-color: #c1ad84;
}

#slideshow {
	position: absolute;	
	left: 5%;
	top: 200px;
	width: 40%;
}

#chart_div {
	position: absolute;
	left: 50%;
	top: 200px;
}

#form {
	position: absolute;
	top: 600px;
	left: 50%;
} 

img.valpo {
	left: 35%;
	position: relative;
}

div.header {
	width: 100%;
	margin: auto;
	padding: 15px;
	background-color: #3f2a14;
    border-bottom: medium solid #e3dac8;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}